<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>{{ category.name }}</h1>

		{% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = "{{url_for('newStudioItem', category_id = category.id )}}">Create New Item</a>
	</br></br>
<img src="https://www.yogajournal.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_80%2Cw_620/MTQ2MjI3ODcyMDE5OTgxOTIx/cow-face-with-eagle-arms-forhips.jpg">
	<h2>Studio1</h2>

		{% for i in items %}


		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


	    <p>{{i.Address}}</p>


		<p>{{i.price}}</p>

		<a href='{{url_for('editstudioitem', category_id = category.id, studio_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteStudioItem', category_id = category.id, studio_id=i.id ) }}' >Delete</a>
</br>
</br>

		{% endfor %}



		</br></br>

	<h2>Studio2</h2>

		{% for i in items %}
		{% if i.course == 'Entree' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<p>{{i.price}}</p>

		<a href='{{url_for('editStudioItem', category_id = category.id, studio_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteStudioItem', category_id = category.id, studio_id=i.id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}



		</br></br>

	<h2>Studio3</h2>

		{% for i in items %}
		{% if i.course == 'Dessert' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<p>{{i.price}}</p>

		<a href='{{url_for('editStudioItem', category_id = category.id, studio_id=i.id ) }}' >Edit</a>

	<a href='{{url_for('deleteStudioItem', category_id = category.id, studio_id=i.id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}



		</br></br>

	<h2>Studio4</h2>

		{% for i in items %}
		{% if i.course == 'Beverage' %}

		<p>{{i.name}}</p>


		<p>{{i.description}}</p>


		<p>{{i.price}}</p>

		<a href='{{url_for('editStudioItem', category_id = category.id, studio_id=i.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteStudioItem', category_id = category.id, studio_id=i.id ) }}' >Delete</a>
</br>
</br>
{% endif %}

		{% endfor %}



		{% else %}
		<p> You currently have no studio items. <p>
		<a href = "{{url_for('newStudioItem', category_id = category.id )}}">Create New Item</a>
			{% endif %}
</div>
	</body>

</html>
